@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

body {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 6.95%;
  margin-right: 6.95%;
  line-height: 142.6%;
}

@media screen and (max-width: 610px) {
  body {
    margin-left: 5.35%;
    margin-right: 5.35%;
  }
}
.fiche-logement {
  margin-top: 3.12rem;
  margin-bottom: 3.12rem;
}

.carousel .container-image {
  position: relative;
  height: 26rem;
  width: 100%;
}
.carousel .container-image .image-carousel {
  object-fit: cover;
  object-position: center;
  height: 26rem;
  width: 100%;
  border-radius: 1.5625rem;
}
.carousel .container-image button {
  background-color: transparent;
  border: none;
}
.carousel .container-image .fleche-carousel {
  width: 2.92rem;
  height: 4.95rem;
}
.carousel .container-image .fleche-precedente {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
}
.carousel .container-image .fleche-suivante {
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
}
.carousel .container-image .index {
  position: absolute;
  top: 0rem;
  left: 50%;
  top: 94%;
  -webkit-transform: translate(0, -100%);
  color: #ffffff;
  font-size: 1.125rem;
}

.infos-logement {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1.88rem;
  margin-bottom: 1.5rem;
}

.titre-et-tags {
  color: #ff6060;
}
.titre-et-tags .titre {
  font-size: 2.25rem;
  line-height: 120%;
}
.titre-et-tags .lieu {
  display: block;
  font-size: 1.125rem;
  margin-top: 0.8em;
}
.titre-et-tags .tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 0.875rem;
  margin-top: 1.25rem;
}
.titre-et-tags .tag {
  width: 7.19rem;
  height: 1.56rem;
  margin-right: 0.62rem;
  text-align: center;
  color: #ffffff;
  background-color: #ff6060;
  border-radius: 0.625rem;
  font-size: 0.875rem;
}

.profil-loueur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.69rem;
}
.profil-loueur p {
  font-size: 1.125rem;
  text-align: right;
  margin-right: 1rem;
}
.profil-loueur .image-profil-container {
  width: 4rem;
  height: 4rem;
}
.profil-loueur img {
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}

.etoiles {
  display: flex;
  gap: 0.4rem;
}
.etoiles .etoile-pleine {
  width: 1.125rem;
  height: 1.125rem;
  filter: brightness(0) saturate(100%) invert(41%) sepia(92%) saturate(933%) hue-rotate(326deg) brightness(111%) contrast(104%);
}
.etoiles .etoile-vide {
  width: 1.125rem;
  height: 1.125 rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(522%) hue-rotate(51deg) brightness(117%) contrast(93%);
}

.textes-deroulants {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6%;
}
.textes-deroulants .texte-deroulant {
  width: 50%;
}

@media screen and (max-width: 650px) {
  .fiche-logement {
    margin-top: 1.69rem;
    margin-bottom: 1.69rem;
  }
  .carousel .container-image {
    height: 16rem;
  }
  .carousel .container-image .image-carousel {
    height: 16rem;
  }
  .carousel .container-image .fleche-carousel {
    width: 1.5rem;
    height: 1.5rem;
  }
  .carousel .container-image .index {
    display: none;
  }
  .infos-logement {
    margin-top: 0.94rem;
    margin-bottom: 0.8rem;
    flex-direction: column;
  }
  .titre-et-tags {
    color: #ff6060;
  }
  .titre-et-tags .titre {
    font-size: 1.125rem;
    line-height: 35%;
  }
  .titre-et-tags .lieu {
    font-size: 0.875rem;
  }
  .titre-et-tags .tags {
    margin-top: 0.62rem;
    margin-bottom: 1rem;
  }
  .titre-et-tags .tag {
    width: 5.25rem;
    height: 1.13rem;
    font-size: 0.625rem;
    line-height: 1rem;
  }
  .profil-loueur {
    margin-bottom: 0rem;
  }
  .profil-loueur p {
    font-size: 0.75rem;
    margin-right: 0.3rem;
    line-height: 100%;
  }
  .profil-loueur .image-profil-container {
    width: 2rem;
    height: 2rem;
  }
  .profil-loueur img {
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
  }
  .profil-et-etoiles {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .etoiles {
    gap: 0.4rem;
  }
  .etoiles .etoile-pleine {
    width: 1rem;
    height: 1rem;
  }
  .etoiles .etoile-vide {
    width: 1rem;
    height: 1rem;
  }
}

/*# sourceMappingURL=style-fiche-logement.css.map */
